body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

/* principal*/
main {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 30px;
}

/* header */
header {
    background-color: #2c3e50;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.grannombre {
    font-size: 2rem;
    margin-bottom: 10px;
}

.carrera {
    font-size: 1.1rem;
}

/* secciones*/
section {
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

section:last-of-type {
    border-bottom: none;
}

section h2 {
    font-size: 1.5rem;
    color: #2c3e50;
    margin-bottom: 25px;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
}

/*sobre mi*/
#sobre-mi {
    text-align: center;
}

#sobre-mi img {
    width: 300px;
    height: 240px;
    border-radius: 20px;
    margin-bottom: 15px;
    border: 3px solid #3498db;
}

.descripcion {
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
}

/* ========== LISTAS ========== */
#habilidades ul,
#hobbies ul {
    list-style: none;
    margin-left: 20px;
}

#habilidades li,
#hobbies li {
    padding: 8px 0;
    padding-left: 15px;
    margin-bottom: 8px;
}

/*estudios*/
.estudios article {
    background-color: #eeeeee;
    padding: 20px;
    margin-bottom: 15px;
}

.maue,
.puce {
    color: #2c3e50;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.estudios p {
    margin: 5px 0;
    color: #555;
}

.estudios strong {
    color: #333;
}

/* ========== REDES SOCIALES ========== */
#redes-sociales ul {
    list-style: none;
}

#redes-sociales li {
    margin-bottom: 10px;
}

#redes-sociales a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

#redes-sociales img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

/* ========== FOOTER ========== */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
